:root {
	--golden: #C59d5f;
	--svart: #252526;
	--vitt: #ffffff;
	--grått: #515150;
	--rosa: #EB1D8F;
	--babyrosa: #F0E3E2;
}

@font-face {
	font-family: Herr Von Muellerhoff;
	src: 	url("HerrVonMuellerhoff-Regular.otf") format("opentype"),
			url("HerrVonMuellerhoff-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Herr Von Muellerhoff;
	font-weight: 600;
	src: url("HerrVonMuellerhoff-Regular.otf") format("opentype");
}

html {
	margin: 0;
	box-sizing: border-box;
	font: 1em/1.5 "Cabin", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant-ligatures: normal;
	font-family: Cabin, Arial, Helvetica, sans-serif; 
	color: var(--svart);
}

body {
	display: grid;
	margin: 0;
	padding: 0;
	grid-gap: 30px;
}

header {
	filter: invert(100%);
}

.wrapper {
	display: grid;
	grid-gap: 25px;


}

.main-nav {
	background: rgba(255,255,255,0);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 1rem;
	z-index: 1;
}

.main-nav:not(.is_stuck) {
	position: fixed;
	left: 0;
	right: 0;
}

.main-nav ul {
	display: grid;
	grid-template-columns: repeat(12, auto);
	list-style: none;
}

.main-nav ul li {

	position: relative;
	transition-duration: .5s;
}

.main-nav ul a {
	text-decoration: none;
	position: relative;
	color: inherit;
	font-weight: 600;
	text-transform: uppercase;
}

.main-nav ul a:before {
	content: "";
	position: absolute;
	width: 99%;
	height: 2px;
	bottom: -2px;
	left: 0px;
	background-color: var(--rosa);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
}

.main-nav ul a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.main-nav ul a:hover {
	color: var(--rosa);
	transition: 0.2s;
}

.headerlogo {
	transform: scale(1.3);
	justify-self: center;

}

#headerstart {
	grid-column-start: 5;
}

.main-nav ul li {
	display: block;
	text-align: center;
	transition-duration: .5s;
}

ul li:hover > ul, ul li ul:hover {
	visibility: visible;
	opacity: 1;
	transition-duration: .3s;
	display: block;

}

.dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	display: none;
	color: var(--golden);
	padding: 1.5rem 0 0 0;
	width: 60%;
	margin-right: 40%;
	margin-left: 18%;
}

.dropdown li {
	clear: both;
	width: 100%;
	padding: 10px 10px 10px 10px;
	margin: 1.5px 0 0 0;
	border-radius: 5px;
	background: rgba(5,5,5,.5);
	text-align: center;
	
}

.socialstart {
	grid-column-start: -3;
}

.nvmlink img {
	margin-top: 2.5px;
	transform: scale(1.1);
}

.showcase {
	display: grid;
	background: url(../images/ztozqeeuourbessxufmp.jpg);
	height: 45vh;
	background-position: center;
	grid-template-rows: 1fr 1fr;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 2.3rem;
}

.showcasetexttop {
	justify-self: center;
	color: var(--golden);
	font-family: Herr Von Muellerhoff;
	font-size: 86px;
	align-self: end;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.showcasetexttop h3 {
	margin: 0;
}


.showcasetextbot {
	justify-self: center;
	margin: 0;
	font-family: Herr Von Muellerhoff;
	font-size: 56px;
	color: var(--golden);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}

.showcasetextbot h3 {
	margin: 0;
}

.discoverus {
	margin-top: 2rem;
	display: grid;
	justify-content: center;
	grid-template-areas: 
	'discover discover'
	'story story'
	'discoverlist  videosample'
	'signup signup';
}

.discover {
	grid-area: discover;
	font-family: Herr Von Muellerhoff;
	font-size: 6em;
	line-height: 0;
	color: var(--golden);
	margin-top: 2rem;
	margin-bottom: 0;
	text-align: center;
}

.story {
	grid-area: story;
	font-family: Source Sans Regular;
	font-weight: 900;
	font-size: 2.2rem;
	line-height: 0;
	text-transform: uppercase;
	text-align: center;
}

.discoverlist {
	display: grid;
	grid-area: discoverlist;
	grid-template-columns: repeat(5, minmax(150px, 200px));
	font-family: Cabin;
	font-size: 1.1em;
	color: #585857;
	list-style: none;
	grid-gap: 1.3rem;
	text-align: center;
}

.discoverlist li {
	padding: 10px 20px 25px 20px;
	height: 275;
	background: #F7F7F8;
}

.discoverlist input, .mailaoss {
	box-shadow: 0 0 20px #eee;
	border: none;
	padding: 10px 25px 10px 25px;
	margin-bottom: auto;
	color: rgba(5,5,5,.45);
	font-weight: 600;
	transition: .5s;
	background-size: 200% auto;
	letter-spacing: .45px;
	border-radius: 9px;
	background-image: linear-gradient(to right, #007735 0%, #31d67b 71%, #007735 120%);
}

.discoverlist input:hover, .discoverlist a:hover {
	cursor: pointer;
	background-position: right center;
	color: rgba(5,5,5,.6);
}

.nmmimg {
	background: #fff !important;
	align-self: center;
}

.nmmimg img {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	filter: grayscale(55%);
	-webkit-transition: filter .5s;
}

.nmmimg img:hover {
	-webkit-transition: filter .5s;
	filter: grayscale(0%);
}

/* Triangel-avskiljare */
.ss-style-triangles::before {
	left: 50%;
	width: 75px;
	height: 75px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
	top: -85px;
	background: #fff;
}

section.color h2 {
	color: #fff;
}


section {
	position: relative;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}